/* Example Styles for React Tags*/
.ReactTags {
    position: relative;
    padding: 6px 0 0 6px;
    border: 1px solid #D1D1D1;
    border-radius: 1px;

    /* shared font styles */
    font-size: 1em;
    line-height: 1.2;

    /* clicking anywhere will focus the input */
    cursor: text;
}

/* Styles for the currently selected tags */
.ReactTags__selected {
    display: inline;
}

.ReactTags__tag {
    display: inline-block;
    box-sizing: border-box;
    margin: 0 6px 6px 0;
    padding: 6px 8px;
    border: 1px solid #D1D1D1;
    border-radius: 2px;
    background: #F1F1F1;

    /* match the font styles */
    font-size: inherit;
    line-height: inherit;
}

.ReactTags__tag:after {
    content: '\2715';
    color: #AAA;
    margin-left: 6px;
}

/* Styles for the input area */
.ReactTags__tagInput {
    display: inline-block;

    /* match tag layout and allow space for the busy indicator */
    padding: 7px 2px;
    margin-bottom: 6px;

    /* prevent autoresize overflowing the container */
    max-width: 100%;
}

@media screen and (min-width: 30em) {

    .ReactTags__tagInput {
        /* this will be the offsetParent for suggestions and busy indicator */
        position: relative;

        /* match tag layout and allow space for the busy indicator */
        padding-right: 32px;
    }

}

.ReactTags__tagInput input {
    /* prevent autoresize overflowing the container */
    max-width: 100%;

    /* remove styles and layout from this element */
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;

    /* match the font styles */
    font-size: inherit;
    line-height: inherit;
}

.ReactTags__tagInput input[readonly] {
    /* visually hide the sizer input */
    position: absolute;
    width: 0;
    height: 0;
    visibility: hidden;
}

/* Busy indicator */
.ReactTags__busy {
    display: none;
    position: absolute;
    top: 6px;
    right: 4px;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: 2px solid rgba(15, 15, 15, 0.2);
    border-top-color: rgba(15, 15, 15, 0.85);
    transform: translateZ(0);
    animation: busy-spinner 1.1s infinite linear;
}

@media screen and (min-width: 30em) {

    .ReactTags__busy {
        display: block;
    }

}

@keyframes busy-spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Styles for suggestions */
.ReactTags__suggestions {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
}

@media screen and (min-width: 30em) {

    .ReactTags__suggestions {
        width: 240px;
    }

}

.ReactTags__suggestions ul {
    margin: 0;
    padding: 0;
    list-style: none;
    background: white;
    border: 1px solid #D1D1D1;
    border-radius: 2px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}
.ReactTags__suggestions li {
    border-bottom: 1px solid #ddd;
    padding: 6px 8px;
}

.ReactTags__suggestions li mark {
    text-decoration: underline;
    background: none;
    font-weight: 600;
}

.ReactTags__suggestions li.is-active {
    background: #b7cfe0;
    cursor: pointer;
}

.ReactTags__suggestions li.is-disabled {
    opacity: 0.5;
    cursor: auto;
}
