/* Example Styles for React Tags*/
.ReactTags {
}

/* Styles for the input */
.ReactTags__tagInput {
    position: relative;
    width: 200px;
    border-radius: 2px;
    display: inline-block;
}

.ReactTags__tagInput input {
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
    height: 34px;
    margin: 0;
    padding: 6px 10px;
    border: 1px solid #D1D1D1;
    border-radius: 2px;
    background: #FFFFFF;
    font-size: 12px;
    line-height: normal;
}

/* Busy indicator */
.ReactTags__busy {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border-top: 2px solid rgba(15, 15, 15, 0.2);
    border-right: 2px solid rgba(15, 15, 15, 0.2);
    border-bottom: 2px solid rgba(15, 15, 15, 0.2);
    border-left: 2px solid rgba(15, 15, 15, 0.85);
    transform: translateZ(0);
    animation: busy 1.1s infinite linear;
}

@keyframes busy {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Styles for selected tags */
.ReactTags__selected {
    float: left;
}

.ReactTags__tag {
    display: inline-block;
    box-sizing: border-box;
    height: 34px;
    margin: 0 10px 0 0;
    padding: 6px;
    border: 1px solid #D1D1D1;
    border-radius: 2px;
    background: #F1F1F1;
    font-size: 12px;
    line-height: normal;
}

.ReactTags__tag:after {
    content: '\2715';
    color: #AAA;
    margin-left: 6px;
}

/* Styles for suggestions */
.ReactTags__suggestions {
    position: absolute;
}

.ReactTags__suggestions ul {
    margin: 0;
    padding: 0;
    list-style: none;
    box-shadow: .05em .01em .5em rgba(0, 0, 0, 0.2);
    background: white;
    width: 200px;
}
.ReactTags__suggestions li {
    border-bottom: 1px solid #ddd;
    padding: 5px 10px;
    margin: 0;
}

.ReactTags__suggestions li mark {
    text-decoration: underline;
    background: none;
    font-weight: 600;
}

.ReactTags__suggestions li.is-active {
    background: #b7cfe0;
    cursor: pointer;
}

.ReactTags__suggestions li.is-disabled {
    opacity: 0.5;
    cursor: auto;
}
